/*===========fonts==========*/
@font-face {
    font-family: 'Neusa-Next-Pro-Light';
    src: url('../fonts/neusa/NeusaNextPro-Light.eot');
    src: local('Neusa Next Pro Light'), local('NeusaNextPro-Light'),
        url('../fonts/neusa/NeusaNextPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neusa/NeusaNextPro-Light.woff2') format('woff2'),
        url('../fonts/neusa/NeusaNextPro-Light.woff') format('woff'),
        url('../fonts/neusa/NeusaNextPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Neusa-Next-Pro-Regular';
    src: url('../fonts/neusa/NeusaNextPro-Regular.eot');
    src: local('Neusa Next Pro Regular'), local('NeusaNextPro-Regular'),
        url('../fonts/neusa/NeusaNextPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neusa/NeusaNextPro-Regular.woff2') format('woff2'),
        url('../fonts/neusa/NeusaNextPro-Regular.woff') format('woff'),
        url('../fonts/neusa/NeusaNextPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neusa-Next-Pro-Medium';
    src: url('../fonts/neusa/NeusaNextPro-Medium.eot');
    src: local('Neusa Next Pro Medium'), local('NeusaNextPro-Medium'),
        url('../fonts/neusa/NeusaNextPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neusa/NeusaNextPro-Medium.woff2') format('woff2'),
        url('../fonts/neusa/NeusaNextPro-Medium.woff') format('woff'),
        url('../fonts/neusa/NeusaNextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Trajan-Pro-3-SemiBold';
    src: url('../fonts/trajan/TrajanPro3SemiBold.eot');
    src: local('Trajan Pro 3 SemiBold'), local('TrajanPro3SemiBold'),
        url('../fonts/trajan/TrajanPro3SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trajan/TrajanPro3SemiBold.woff2') format('woff2'),
        url('../fonts/trajan/TrajanPro3SemiBold.woff') format('woff'),
        url('../fonts/trajan/TrajanPro3SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*--------------------------------*/
#calendar{
    width: 100%;
    line-height: 1.2em;
    font-size: 14px;
    font-family: "RobotoCondensed-Regular";
    text-align: center;
    border: none !important;
    color: #000;
}
#calendar thead tr:last-child{
    font-size: small;
    color: #4976b6;
}
#calendar thead tr td {
    padding: 10px 10px 30px 10px;
     font-family: 'Neusa-Next-Pro-Regular';
    color: #888;
}
.oy
{
    padding: 10px;
    padding-top: 25px;
}
#calendar thead tr:nth-child(1) td:nth-child(2){
    position: relative;
    font-family:'Neusa-Next-Pro-Medium';
    color: rgba(9, 62, 17, 1);
    font-size: 16px !important;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover{
    cursor: pointer;
}
#calendar td{
    border: none;
    font-family: 'Neusa-Next-Pro-Light';
}
#calendar tbody td{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
#calendar tbody td:nth-child(n+6), #calendar .holiday{
    
}
#calendar tbody td.today{
    position: relative;
    z-index: 1;
    color: #888;
}
#calendar tbody td.today:before{
    content: '';
    width: 24px;
    height: 24px;
    color: #fff;
    position: absolute;
    /*background: #4976b6;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#calendar tbody td.active{
    position: relative;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
#calendar tbody td.active:before{
    content: '';
    border-radius: 3px;
    object-fit: cover;
    background: transparent linear-gradient(180deg, rgba(17, 119, 34, 1) 0%, rgba(9, 60, 17, 1) 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    width: 36px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.calendarBox{
    position: relative;
}
.calendarBox .calView{
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    background-color: rgba(17, 119, 34, 1);
    padding: 35px 10px 30px 25px;
    top: -8px;
    z-index: 2;
    width: 100%;
    color:#646060;
    font-size: 14px;
    overflow: hidden;
}
.calendarBox .calView h2{
    font-size:16px;
    /*font-weight:normal;*/
    /*line-height:20px;*/
    margin: 10px 0 0 0;
    color: #fff;
}
.calendarBox .calView li{
    list-style: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 30px 0 0;
    padding: 10px 0 10px 0;
}
.calendarBox .calView li:last-child{
    /*border: none;*/
}
.calendarBox .calView li a{
    display: block;
    color: #fff;
    line-height: 1.2;
}
.calendarBox .calView .close{
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 4px;
    opacity: 2;
    font-size: 25px;
    outline: none;
    border: none;
    box-shadow: none;
}
