/*===============all=================*/

body {
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

@media (min-width: 1400px) {
    .my-container {
        max-width: 1340px;
    }
}
@media (max-width: 575px) {
    br {
        display: none;
    }
}
.p-content {}
.p-content p {
    background-color: transparent !important;
}
.p-content span {
    background-color: transparent !important;
}
.p-content table {
    width: 100% !important;
}
.p-content table tr td {
    max-width: 100px !important;
    white-space: pre;
}
/*---------------all-----------------*/
/*=============================test==============================*/
.test {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;
    padding-top: 8px;
}
.test marquee {
    color: rgb(220 53 69);
    font-size: 14px;
}
/*-----------------------------test------------------------------*/
/* ==============content============ */

.left {
    padding: 5px 20px 20px 20px;
    background-color: rgba(0, 120, 212, 0.2);
    border-top: 8px solid rgba(0, 120, 212, 0.8);
}
.right {
    padding: 5px 20px 20px 20px;
    background-color: rgba(0, 120, 212, 0.2);
    border-top: 8px solid rgba(0, 120, 212, 0.8);
}

.page {
    margin-top: 30px;
}

/* --------------contact------------ */
/* ==============full=============== */

.full-section {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    z-index: -10;
    left: 0%;
    transition: 0.36s;
    visibility: hidden;
    opacity: 0;
    top: 0px;
    padding-bottom: 30px;
}

.full-section.active {
    left: 0%;
    visibility: visible;
    opacity: 1;
    z-index: 10;
    top: 140px;
}

.full-ul {
    padding-left: 15px;
    list-style: circle;
}

.full-ul li {
    margin-top: 20px;
}

.full-ul li a {
    color: rgba(43, 136, 216, 1);
    font-weight: 600;
    font-size: 16px;
}

.full-link {}

.full-link {
    font-weight: 600;
    color: rgba(43, 136, 216, 1);
}


/* --------------full--------------- */


/*===============search==============*/
.my-form {}

.my-form form {}

.my-form form input {
    flex: 1;
}


/*---------------search--------------*/


/*===============footer==============*/

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(51, 51, 51, 1);
}

.flogo {
    margin-top: 30px;
}

.flogo-in {
    display: flex;
    align-items: center;
}

.flogo-icon {}

.flogo-icon img {
    max-width: 90px;
}

.flogo-text {
    margin-left: 15px;
}

.flogo-text p:nth-child(1) {
    color: rgba(118, 118, 118, 1);
    margin-bottom: 0;
}

.flogo-text p:nth-child(2) {
    font-weight: 700;
    color: rgba(200, 200, 200, 1);
    margin-bottom: 0;
    text-transform: uppercase;
}

.flogo-text p:nth-child(3) {
    color: rgba(118, 118, 118, 1);
    margin-bottom: 0;
}

.f-ul {
    margin-top: 30px;
}

.f-ul li {
    margin-top: 0px;
}

.f-ul>li>a {
    color: rgba(244, 244, 244, 1);
    text-transform: lowercase;
}
.f-ul>li>a::first-letter {
    text-transform: uppercase;
}
.f-ul li .dropdown-menu a {
    white-space: pre-wrap;
    min-width: 250px;
}
.f-ul li .dropdown-menu a:hover {
    color: #007bff;
}
.f-ul-two {
    margin-top: 30px;
}

.f-ul-two li {
    margin-top: 15px;
}

.fone {}

.fone span {
    font-size: 14px;
    color: rgba(200, 200, 200, 1);
}

.ftwo {}

.ftwo a {
    font-weight: 600;
    color: rgba(244, 244, 244, 1);
}

.ftwo span {
    font-weight: 600;
    color: rgba(244, 244, 244, 1);
}

.f-link {
    font-size: 14px;
    color: rgba(200, 200, 200, 1);
    margin-top: 30px;
}

.copy {
    font-size: 14px;
    color: rgba(200, 200, 200, 1);
}

.fctrl {
    font-size: 12px;
    color: rgba(200, 200, 200, 1);
    margin-top: 30px;
}

.uz {
    text-align: right;
    margin-top: 30px;
}

@media (min-width: 576px) {
    footer {
        margin-top: 80px;
    }
    .flogo-text p:nth-child(2) {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    footer {
        margin-top: 30px;
    }
    .flogo-icon img {
        max-width: 75px;
    }
}


/*---------------footer--------------*/


/*===============useful==============*/

.useful-section {}

.owl-useful {}

.useful-in {
    display: flex;
    align-items: center;
}

.useful-icon {}

.useful-icon img {
    width: auto !important;
    max-width: 80px;
    max-height: 80px;
}

.useful-text {
    margin-left: 15px;
}

.useful-text p:nth-child(1) {
    color: rgba(102, 102, 102, 1);
    margin-bottom: 0;
}

.useful-text p:nth-child(2) {
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .useful-section {
        margin-top: 50px;
    }
    .owl-useful {
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {
    .owl-useful .owl-nav {
        position: absolute;
        width: calc(100% + 200px);
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }
}

@media (max-width: 1399px) {
    .owl-useful .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .owl-useful .owl-nav button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 575px) {
    .useful-section {
        margin-top: 15px;
    }
    .owl-useful {
        margin-top: 15px;
    }
}


/*---------------useful--------------*/


/*===============choice==============*/

.choice-section {}

.choice {}

.choice-in {
    padding: 20px;
    background-color: rgba(248, 248, 248, 1);
}

.choice-title {}

.choice-title span {
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72px;
}

.choice a:hover .choice-title span {
    color: rgba(43, 136, 216, 1);
}

.choose-tab {}
.choose-tab .nav {
    margin-top: 30px;
}
.choose-tab .nav .nav-link {
    border-radius: 50px;
    line-height: 38px;
    border: 1px solid rgba(118, 118, 118, 1);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15px;
    color: rgba(118, 118, 118, 1);
}
.choose-tab .nav .nav-link.active {
    border-color: #007bff;
    color: white;
}
@media (min-width: 576px) {
    .choice-section {
        margin-top: 50px;
    }
    .choice {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .choice-section {
        margin-top: 15px;
    }
    .choice {
        margin-top: 15px;
    }
}


/*---------------choice--------------*/


/*===============announce============*/

.announce-section {}

.announce {}

.announce-img-in {}

.announce-img-in img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.anno-card {
    padding: 20px;
    background-color: rgba(248, 248, 248, 1);
}

.anno-category {}

.anno-category a {
    display: inline-block;
    line-height: 26px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(43, 136, 216, 1);
    color: rgba(248, 248, 248, 1);
    font-size: 14px;
    border: 2px solid rgba(43, 136, 216, 1);
}

.anno-category a:hover {
    background-color: transparent;
    color: rgba(43, 136, 216, 1);
}

.anno-title {
    
}

.anno-title a {
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72px;
}

.anno-title a:hover {
    color: rgba(43, 136, 216, 1);
}

@media (min-width: 576px) {
    .announce-section {
        margin-top: 50px;
    }
    .announce {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .announce-section {
        margin-top: 15px;
    }
    .announce {
        margin-top: 15px;
    }
}


/*---------------announce------------*/


/*===============media===============*/

.media-section {
    margin-top: 50px;
}

.media-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-in {}

.media-in img {
    width: 100%;
    object-fit: cover;
}

.play {
    position: relative;
}

.play:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../img/video.png);
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
}
.foto-all {
    text-align: center;
    margin-top: 15px;
}
.foto-all a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
}
.foto-all a:hover {
    text-decoration: underline;
}
.media-out button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
.media-out button img {
    width: 100%;
}
@media (min-width: 768px) {
    .media-ul li:nth-child(1) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(2) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(3) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(1) a img,
    .media-ul li:nth-child(2) a img,
    .media-ul li:nth-child(3) a img,
    .media-ul li:nth-child(1) button img,
    .media-ul li:nth-child(2) button img,
    .media-ul li:nth-child(3) button img {
        height: 200px;
    }
    .media-ul li:nth-child(4) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(5) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(6) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(7) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(4) a img,
    .media-ul li:nth-child(5) a img,
    .media-ul li:nth-child(6) a img,
    .media-ul li:nth-child(7) a img,
    .media-ul li:nth-child(4) button img,
    .media-ul li:nth-child(5) button img,
    .media-ul li:nth-child(6) button img,
    .media-ul li:nth-child(7) button img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .media-ul li:nth-child(1) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(2) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(3) {
        width: 33.3333333333%;
    }
    .media-ul li:nth-child(1) a img,
    .media-ul li:nth-child(2) a img,
    .media-ul li:nth-child(3) a img,
    .media-ul li:nth-child(1) button img,
    .media-ul li:nth-child(2) button img,
    .media-ul li:nth-child(3) button img {
        height: 360px;
    }
    .media-ul li:nth-child(4) {
        width: 25%;
    }
    .media-ul li:nth-child(5) {
        width: 25%;
    }
    .media-ul li:nth-child(6) {
        width: 25%;
    }
    .media-ul li:nth-child(7) {
        width: 25%;
    }
    .media-ul li:nth-child(4) a img,
    .media-ul li:nth-child(5) a img,
    .media-ul li:nth-child(6) a img,
    .media-ul li:nth-child(7) a img,
    .media-ul li:nth-child(4) button img,
    .media-ul li:nth-child(5) button img,
    .media-ul li:nth-child(6) button img,
    .media-ul li:nth-child(7) button img {
        height: 240px;
    }
}

@media (min-width: 1600px) {
    .media-ul {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .media-ul li:nth-child(1) {
        width: 50%;
    }
    .media-ul li:nth-child(2) {
        width: 50%;
    }
    .media-ul li:nth-child(3) {
        width: 50%;
    }
    .media-ul li:nth-child(1) a img,
    .media-ul li:nth-child(2) a img,
    .media-ul li:nth-child(3) a img,
    .media-ul li:nth-child(1) button img,
    .media-ul li:nth-child(2) button img,
    .media-ul li:nth-child(3) button img {
        height: 180px;
    }
    .media-ul li:nth-child(4) {
        width: 50%;
    }
    .media-ul li:nth-child(5) {
        width: 50%;
    }
    .media-ul li:nth-child(6) {
        width: 50%;
    }
    .media-ul li:nth-child(7) {
        width: 50%;
    }
    .media-ul li:nth-child(4) a img,
    .media-ul li:nth-child(5) a img,
    .media-ul li:nth-child(6) a img,
    .media-ul li:nth-child(7) a img,
    .media-ul li:nth-child(4) button img,
    .media-ul li:nth-child(5) button img,
    .media-ul li:nth-child(6) button img,
    .media-ul li:nth-child(7) button img {
        height: 180px;
    }
}


/*---------------media---------------*/


/*===============about===============*/

.about-section {
    margin-top: 50px;
}

.about-left-text {
    margin-top: 30px;
    font-size: 18px;
}

.about-left-text span {
    font-size: 18px;
}

.about-left-text p {
    font-size: 18px;
}

.about-left-link {
    margin-top: 30px;
}

.about-left-link a {}

.about-left-link a img {
    margin-right: 10px;
    transition: 0.5s;
}

.about-left-link a span {
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.about-left-link a:hover img {
    transform: rotate(360deg);
}

.about-right {
    position: relative;
}

.about-one {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-one img {
    max-width: 100%;
}

.about-two {
    text-align: center;
    overflow: hidden;
}

.about-two img {
    max-width: 100%;
    animation-name: about;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: contrast(0.92);
}

@keyframes about {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {
    .about-left {
        display: flex;
        align-items: center;
        height: 100%;
    }    
}

/*---------------about---------------*/


/*===============news================*/

.news-section {
    margin-top: 30px;
}

.news-left {
    margin-top: 30px;
}

.news-left a:hover .news-left-title span {
    text-decoration: underline;
}

.news-left-in {
    position: relative;
}

.news-left-img {}

.news-left-img img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: center;
}

.news-left-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
}

.news-left-category {}

.news-left-category span {
    display: inline-block;
    line-height: 26px;
    border: 2px solid rgba(43, 136, 216, 1);
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(43, 136, 216, 1);
    color: rgba(248, 248, 248, 1);
    font-size: 14px;
}

.news-left-category span {}

.news-left-title {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.news-left-title span {
    color: rgba(248, 248, 248, 1);
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-left-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.news-left-time {}

.news-left-time img {
    margin-right: 10px;
}

.news-left-time span {
    color: rgba(166, 166, 166, 1);
    font-size: 14px;
}

.news-left-eye {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.news-left-eye img {
    margin-right: 10px;
}

.news-left-eye span {
    color: rgba(166, 166, 166, 1);
    font-size: 14px;
}

.news-right {
    margin-top: 30px;
}

.news-right-img {}

.news-right-img a {}

.news-right-img a img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}

.news-right-category {
    margin-top: 15px;
}

.news-right-category span {
    display: inline-block;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(43, 136, 216, 1);
    color: rgba(248, 248, 248, 1);
}

.news-right-title {
    margin-top: 15px;
}

.news-right-title a {
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-right-title a:hover {
    color: rgba(43, 136, 216, 1);
    text-decoration: underline;
}

.news-right-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.news-right-time {}

.news-right-time img {
    margin-right: 10px;
}

.news-right-time span {
    font-size: 14px;
    color: rgba(102, 102, 102, 1);
}

.news-right-eye {
    display: flex;
    align-items: center;
}

.news-right-eye img {
    margin-right: 10px;
}

.news-right-eye span {
    font-size: 14px;
    color: rgba(102, 102, 102, 1);
}

@media (min-width: 768px) {
    .news-right-title a {
        max-height: 72px;
    }
}


/*---------------news----------------*/


/*===============heading=============*/

.heading-left {
    position: relative;
    padding-left: 50px;
}

.heading-left:before {
    position: absolute;
    content: '';
    width: 36px;
    height: 3px;
    background-color: rgba(0, 120, 212, 1);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.heading-left span {
    font-weight: 700;
    text-transform: uppercase;
}

.heading-right {}

.heading-right a {}

.heading-right a img {
    transition: 0.6s;
}

.heading-right a span {
    font-weight: 600;
    margin-left: 10px;
    color: rgba(51, 51, 51, 1);
}

.heading-right a:hover img {
    transform: rotate(360deg);
}

.heading-right a:hover span {
    color: rgba(0, 120, 212, 1);
}

@media (min-width: 768px) {
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .heading-left span {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .heading-right {
        margin-top: 10px;
    }
    .heading-left span {
        font-size: 24px;
    }
}


/*---------------heading-------------*/


/*===============banner==============*/

.banner-section {
    margin-top: 30px;
    position: relative;
}

.banner-circle {
    position: absolute;
    content: '';
    width: 640px;
    height: 640px;
    right: 0;
    bottom: -240px;
    z-index: -1;
    overflow: hidden;
}

.banner-circle-in {
    animation-name: mycircle;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.banner-circle-in img {
    filter: contrast(0.92);
}

@keyframes mycircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.banner-link-share {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.banner-link {
    margin-right: 30px;
    margin-top: 15px;
}

.banner-link a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 36px;
    font-size: 14px;
    color: rgba(248, 248, 248, 1);
    background-color: rgba(0, 120, 212, 1);
    border: 2px solid rgba(0, 120, 212, 1);
}

.banner-link a:hover {
    background-color: transparent;
}

.banner-share {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.banner-share a {
    margin-right: 30px;
}

.banner-share a:hover img {
    transition: 0.3s;
}

.banner-share a:hover img {
    transform: scale(1.08);
}

.banner-share span {
    margin-right: 30px;
}

.banner-share img {
    width: auto !important;
}

.banner-right {
    background-color: rgba(60, 60, 60, 1);
    height: 100%;
    position: relative;
}

.banner-sub-title {}

.banner-sub-title span {
    color: rgba(166, 166, 166, 1);
    text-transform: uppercase;
}

.banner-title {
    margin-top: 15px;
}

.banner-title a {
    font-weight: 600;
    color: rgba(248, 248, 248, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.banner-title a:hover {
    color: rgba(0, 120, 212, 1);
}

.banner-description {
    margin-top: 15px;
}

.banner-description span {
    color: rgba(248, 248, 248, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.banner-img-in {}

.banner {}

.banner .owl-dots button {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.banner .owl-dots button.active:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid rgba(113, 175, 229, 1);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner .owl-dots button.active {
    background-color: rgba(113, 175, 229, 1);
}

@media (min-width: 576px) {
    .banner-title a {
        font-size: 28px;
    }
    .banner-right {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .banner-col {
        padding: 0;
    }
    .banner-link-share {
        position: absolute;
        bottom: 30px;
    }
    .banner-img-in img {
        height: 580px;
        object-fit: cover;
    }
    .banner .owl-dots {
        position: absolute;
        bottom: 30px;
        left: 33.33333%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1199px) {
    .banner .owl-dots {
        background-color: rgba(0, 120, 212, 1);
        border-radius: 5px;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner-right {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .banner-circle {
        display: none;
    }
}

@media (max-width: 575px) {
    .banner-title a {
        font-size: 24px;
    }
    .banner-right {
        padding: 15px;
    }
}


/*---------------banner--------------*/


/*===============menu================*/

.menu {
    margin-top: 30px;
}

.menu .navbar-nav {
    flex: 1;
    justify-content: space-between;
}

.menu .navbar-nav .nav-link {}

.menu .navbar-nav .nav-link {}

.menu .navbar-nav .nav-link {
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
    white-space: pre-wrap;
    text-align: center;
    padding-right: 20px;
}
.menu .dropdown-toggle::after {
    display: none;
}
.menu .navbar-nav .nav-link i {
    position: absolute;
    right: 0;
    top: 12px;
    transition: 0.3s;
}
.menu .navbar-nav .nav-link:hover i {
    transform: rotate(180deg);
}
.menu .navbar-nav .dropdown-menu {
    margin-top: 0;
    background-color: rgba(0, 120, 212, 1);
}

.menu .navbar-nav .dropdown-menu .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.25s;
    padding-right: 36px;
    padding-left: 25px;
    white-space: pre-wrap;
    min-width: 260px;
}

.menu .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    padding-left: 36px;
    padding-right: 25px;
}

.menu .navbar-nav {}

.menu .navbar-nav .dropdown-menu {
    border: none;
}

.menu .sub {
    position: relative;
}

.menu .sub .dropdown-menu {
    top: 0;
    left: 100%;
    border: none;
    border-top-left-radius: 0;
}

@media (min-width: 1200px) {
    .menu .sub:hover .dropdown-menu {
        display: block;
    }
    .menu .navbar-nav li .dropdown-menu .dropdown-toggle::after {
        margin-left: 10px;
        transform: rotate(-90deg) translateX(-2px);
    }
}

@media (max-width: 1199px) {
    .navbar-nav li .dropdown-menu.show .dropdown-menu {
        display: block;
        padding-left: 15px;
    }
    .menu .navbar-nav .dropdown-menu .dropdown-item {
        white-space: break-spaces;
    }
}


/*---------------menu----------------*/


/*===============header==============*/

header {
    margin-top: 30px;
}

.header-left {
    display: flex;
    align-items: center;
}

.bars {
    margin-right: 30px;
}

.bars button {
    background-color: transparent;
    border: none;
}

.logo {}

.logo-in {
    display: flex;
    align-items: center;
}

.logo-icon {}

.logo-icon img {
    max-width: 90px;
}

.logo-text {
    margin-left: 15px;
}

.logo-text span:nth-child(1) {
    color: rgba(51, 51, 51, 1);
}

.logo-text span:nth-child(3) {
    font-weight: 700;
    color: rgba(0, 120, 212, 1);
    text-transform: uppercase;
}

.logo-text span:nth-child(5) {
    color: rgba(51, 51, 51, 1);
}

.header-ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.email {
    margin-right: 30px;
}

.email img {
    margin-right: 8px;
}

.email span {
    color: rgba(33, 33, 33, 1);
}

.mobile {
    margin-right: 30px;
}

.mobile button {
    background-color: transparent;
    border: none;
}

.lang {
    margin-right: 30px;
}

.lang a {
    color: rgba(102, 102, 102, 1);
}

.lang a.active {
    font-weight: 700;
    color: rgba(0, 120, 212, 1);
}

.lang a:hover {
    color: rgba(0, 120, 212, 1);
}

.search {}

.search button {
    background-color: transparent;
    border: none;
}

@media (min-width: 576px) {
    .logo-text span:nth-child(3) {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .header-ul {
        justify-content: flex-end;
    }
    .header-right {
        height: 100%;
    }
}

@media (max-width: 1199px) {
    .bars {
        display: none;
    }
    .header-ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header-ul li {
        margin-top: 20px;
    }
    .header-left {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .logo-icon img {
        max-width: 75px;
    }
}


/*---------------header--------------*/


/*===============eye=================*/

.eye {
    margin-right: 0px;
}

.squareBox.spcNoImage {
    border-color: #c3272a;
    background: url('../img/iconImg.png') 11px 7px no-repeat;
}

.squareBox.spcSetImage {
    background: url('../img/iconImg.png') -41px 7px no-repeat !important;
}

.noImage img {
    display: none !important;
}

.noImage img.eye_icon {
    display: block !important;
}

.noImage .spheresList li span {
    background-image: none !important;
}

.blackAndWhite {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.blackAndWhiteInvert,
.blackAndWhiteInvert img,
.blackAndWhiteInvert embed,
.blackAndWhiteInvert video {
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
    filter: grayscale(100%) invert(100%);
}

.icon_accessibility:hover {
    cursor: pointer;
}

.specialViewArea {
    padding: 10px 20px 20px 20px;
    width: 265px;
    left: 0;
    top: 60px;
    color: #000;
}

.appearance {
    margin-bottom: 10px;
    clear: both;
    display: table;
    width: 100%;
}

.squareBox {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 27px;
    font-weight: bolder;
    cursor: pointer;
    background: #828282;
    color: #fff;
}

.specialTitle {
    border-bottom: 1px solid rgba(0, 120, 212, 0.4);
    font-size: 18px;
    padding-bottom: 5px;
}

.squareAppearances {
    float: left;
    margin-right: 10px;
}

.squareBox.spcNormal {
    background: rgba(0, 120, 212, 1);
}

.squareBox.spcWhiteAndBlack {
    background: #828282;
}

.squareBox.spcDark {
    background: #3e3e3e;
}

.fontSmaller {
    font-size: 24px;
}

.fontBigger {
    font-size: 26px;
}

.defaultSlider {
    height: 4px !important;
    background: #b7b7b7;
    border: none;
}

.defaultSlider span {
    border-radius: 50%;
    outline: none;
    background: #ffffff !important;
    cursor: pointer !important;
    width: 25px !important;
    height: 25px !important;
    top: -11px !important;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -o-box-shadow: 0px 0px 5px #ccc;
    -ms-border-shadow: 0px 0px 5px #ccc;
    /*cursor: pointer !important;*/
    margin-bottom: 10px;
}

.sliderZoom {
    margin: 15px 0 20px 0;
}

.sliderText {
    margin-bottom: 20px;
}

.defaultSlider span:focus,
.defaultSlider span:hover {
    border-color: #d3d3d3;
}

.defaultSlider .ui-slider-range {
    background: #c3272a;
}

.speciel_box span {
    border-bottom: 1px solid #333333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}

.speciel_box {
    display: inline-block;
    color: #333333 !important;
}

.speciel_relative {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}

.specialBoxList {
    display: inline-block;
    margin: 0 0 0 28px;
}

.specialBoxList li {
    list-style: none;
    display: inline-block;
}

.specialBoxList li a {
    color: #fff;
    display: inline-block;
}

.specialBoxList li a span {
    position: relative;
    top: -23px;
    width: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 40px;
    line-height: 1.3;
}

.specialBoxList li:hover a {
    text-decoration: underline;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.specialBoxList li i {
    position: relative;
    font-size: 16px;
    margin: 0 10px 0 5px;
    color: #545454;
}

/*----------------------------------*/

.copy {
margin-top: 15px;
}
.copy-in {
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
padding: 10px 10px 10px 30px;
display: flex;
}
.copy-in input {
border: none;
background-color: transparent;
flex: 1;
}
.copy-in button {
border-radius: 30px;
background-color: transparent;
padding: 8px 20px;
border: 1px solid rgba(7, 106, 200, 0.3);
}
.print {
text-align: right;
margin-top: 15px;
}
.print button {
background-color: transparent;
border: none;
}

@media print {
    .right {
        display: none;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
    .p-banner {
        display: none;
    }
    .copy {
        display: none;
    }
    .print {
        display: none;
    }
}