<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>logo.png">
  <meta name="robots" content="index, follow">
  <meta name="twitter:image" content="http://intel.for.uz/img/logo.png">
  <meta name="twitter:site" content="intel.for.uz">
  <meta name="twitter:title" content="Ўзбекистон Республикаси энергетика вазирлиги ҳузуридаги БЮДЖЕТДАН ТАШҚАРИ ТАРМОҚЛАРАРО ЭНЕРГИЯНИ ТЕЖАШ ЖАМҒАРМАСИ">
  <meta name="twitter:type" content="website">
  <meta name="twitter:url" content="http://intel.for.uz/uz">
  <meta property="og:image" content="http://intel.for.uz/img/logo.png">
  <meta property="og:locale" content="uz">
  <meta property="og:title" content="Ўзбекистон Республикаси энергетика вазирлиги ҳузуридаги БЮДЖЕТДАН ТАШҚАРИ ТАРМОҚЛАРАРО ЭНЕРГИЯНИ ТЕЖАШ ЖАМҒАРМАСИ">
  <meta property="og:site_name" content="intel.for.uz">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://intel.for.uz/uz">
  <title>Home</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/bootstrap.min.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/jquery-ui.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/owl.carousel.min.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/style.css">
</head>

<body>
  
  <div id="app"></div>

  <script src="<%= BASE_URL %>js/jquery-3.5.1.min.js"></script>
  <script src="<%= BASE_URL %>js/bootstrap.bundle.min.js"></script>
  <script src="<%= BASE_URL %>js/jquery-ui.js"></script>
  <script src="<%= BASE_URL %>js/jquery.cookie.js"></script>
  <script src="<%= BASE_URL %>js/jquery.fancybox.min.js"></script>
  <script src="<%= BASE_URL %>js/owl.carousel.min.js"></script>
  <script src="<%= BASE_URL %>js/special-view.js"></script>
  <script src="<%= BASE_URL %>js/main.js"></script>
</body>

</html>